@font-face {
    font-family:  Brush Script MT;
    src: url(/PROIECT_TEHNOLOGII_WEB/BRUSHSCI.TTF);
}

body {
    display: none;
    font-family: Arial, sans-serif;
    top: 5%;
    background-color: #f0e2d5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -2%;
    background-image: url(/PROIECT_TEHNOLOGII_WEB/Imagini/about_8.jpg);
}

.bara-navigare{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    font-size: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    z-index: 1;
}

.nume-aplicatie{
    align-self: center;
    font-style: italic;
    font-weight: bold;
    color: white;
    text-decoration: none;
    width: 20%;
    margin-right: auto;
}

.imagine-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18%;
    margin-left: auto;
}

.buton-login{
    /*margin-right: 20px;*/
    align-self: center;
    color: white;
    text-decoration: none;
    width: 10%;
}

.buton-login:hover {
    background-color: #ddd;
    height: 58px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buton-despre{
    /*margin-right: 20px;*/
    align-self: center;
    color: white;
    text-decoration: none;
    width: 8%;
}

.buton-despre:hover {
    background-color: #ddd;
    height: 58px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}


.buton-ajutor{
    /*margin-right: 20px;*/
    align-self: center;
    color: white;
    text-decoration: none;
    width: 7%;
}

.buton-ajutor:hover {
    background-color: #ddd;
    height: 58px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.despre-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0%;
    height: 10vh;
    width: 100%;
    margin-top: 4%;
}

.despre-container h2{
    text-align: center;
    width: auto;
    font-size: 7vw;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Pacifico', cursive;
    color: #324d62;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(240, 240, 240, 0.7));;
    border: 2px solid #324d62;
    border-radius: 20px;
}

.despre-container-subtitlu{
    text-align: center;
    width: auto;
    font-size: 6vw;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
    font-family: 'Pacifico', cursive;
    color: #324d62;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(240, 240, 240, 0.7));;
    border: 2px solid #324d62;
    border-radius: 20px;  
}

.rand {
    display: flex;
    justify-content: space-between;
}

.despre-box{
    text-align: left;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    font-family: 'Pacifico', cursive;
    font-size: 1.5vw;
    color: #324d62;
    border-radius: 20px;
}

.imagine-chenar{
    width: 50%;
    height: 90%;
    background-image: url(/PROIECT_TEHNOLOGII_WEB/Imagini/about_4.jpg);
    margin-right: auto;
    margin-left: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.rand-invers{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.despre-box2{
    text-align: justify;
    width: 25%;
    font-size: 3vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
    font-family: 'Pacifico', cursive;
    font-size: 1.5vw;
    color: #324d62;
    border-radius: 20px;
}

.imagine-chenar2{
    width: 50%;
    height: 90%;
    background-image: url(/PROIECT_TEHNOLOGII_WEB/Imagini/baietii_grei.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 481px) and (max-width: 1200px){
    .bara-navigare{
        display: flex;
        justify-content: space-between;
    }
    .nume-aplicatie
    {
        width: 20%;
        margin-right: 0;
        margin-left: 0;
        font-size: 13px;
    }

    .imagine-logo {
        width: 28%;
        margin-right: auto;
        margin-left: auto;
    }

    .buton-login,
    .buton-despre,
    .buton-ajutor {
        padding: 0px 20px;
        width: auto;
        margin-right: auto;
        margin-left: auto;
        font-size: 13px;
    }

}

@media screen and (max-width: 480px){

    .bara-navigare{
        flex-direction: column;
        height: auto;
    }

    .nume-aplicatie
    {
        width: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .imagine-logo {
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }

    .buton-ajutor:hover,
    .buton-despre:hover,
    .buton-login:hover {
        height: auto;
    }

    .buton-login,
    .buton-despre,
    .buton-ajutor {
        padding: 0px 20px;
        width: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .despre-container{
        margin-top: 50%;
    }
    .despre-container h2{
        margin-top: -17%;
    }

}


